/* Reset CSS * = all */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    background:radial-gradient(#050526 0%,black 90%) -20vw 10vh no-repeat black;
    width: 100%;
    height: 100vh;
}
#Welcome_section{
    
    font-family:'Abril Fatface';
    font-size: 20px; 
    display:flex;
    justify-content:center;
    align-items: center;
    color: white;
    text-align:center;
    height:100vh;
}
@font-face {
    font-family: neon;
    src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
  }
  
  .neon {
    font-family: neon;
    color: #FB4264;
    font-size: 9vw;
    line-height: 9vw;
    text-shadow: 0 0 3vw #F40A35;
  }
  
  .flux {
    font-family: neon;
    color: #426DFB;
    font-size: 9vw;
    line-height: 9vw;
    text-shadow: 0 0 3vw #2356FF;
  }
  
  .neon {
    animation: neon 1s ease infinite;
    -moz-animation: neon 1s ease infinite;
    -webkit-animation: neon 1s ease infinite;
  }
  
  @keyframes neon {
    0%,
    100% {
      text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
      color: #FED128;
    }
    50% {
      text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
      color: #806914;
    }
  }
  
  .flux {
    animation: flux 2s linear infinite;
    -moz-animation: flux 2s linear infinite;
    -webkit-animation: flux 2s linear infinite;
    -o-animation: flux 2s linear infinite;
  }
  
  @keyframes flux {
    0%,
    100% {
      text-shadow: 0 0 1vw #1041FF, 0 0 3vw #1041FF, 0 0 10vw #1041FF, 0 0 10vw #1041FF, 0 0 .4vw #8BFDFE, .5vw .5vw .1vw #147280;
      color: #28D7FE;
    }
    50% {
      text-shadow: 0 0 .5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180, 0 0 5vw #082180, 0 0 .2vw #082180, .5vw .5vw .1vw #0A3940;
      color: #146C80;
    }
  }
    

#Game_section{
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 
}

#conteneur{
    display: flex;
    justify-content: center;
    align-items: center;   
}
#players_conteneur{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top:30px;
}
.players{
font-size:60px;
}

.players:hover{
color:maroon;
cursor: pointer;
}   

#content{

    width: 40%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.case{
    width: 100px;
    height: 100px;
    background: lightsteelblue;
    border: 2px solid black;
    margin: 10px;
}

.case:hover{
    background-color: lightslategray;
}

#player{
    font-size: 18px;
    color: white;
    margin: 20px 0px;
}












































.scoreBord{
  font-family: 'Exo 2', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;  
  background: #000;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #c3c3c3;
  display: flex;
  flex-direction: column;
}
#editor {
  color:#9F9;
  font-size: 3em;
  text-shadow: 1px 0px 5px rgb(255, 0, 149), 
    -1px 0px 2px rgb(255, 0, 0);
    
  font-family: Ubuntu Mono;
  font-weight: light;
  line-height: 2em;
}

#arcade-button {
  
  font-size: 50px;
  margin: 20px 0 0 20px;
  border: none;
  width: 4em;
  height: 3.5em;
  position: relative;
  background-color: rgb(50, 50, 200);
}

.frame1 {
  text-align: center;
  margin: auto;
  z-index: 10;
  margin-top: 75px;
}
#coin{ 
  color: white;
  width : 100%;
  text-align: center;
  margin: auto;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 5px;
  text-shadow: -2px 0 0 #fdff2a
    -4px 0 0 #df4a42,
    2px 0 0 #91fcfe,
    4px 0 0 #4405fc;
  animation: blink 1s steps(4, start) infinite; 
 @keyframes blink
   to
     visibility: hidden
  
}


@import "compass/css3";
$screen-background: #121010;

a {
  color: white;
}


#title {
  display: normal;
}
#info {
  display: none;
}
.game-element {
  position: absolute;
  left: 0px;
  top: 0px;
}
.gamefont {
  color: lightblue;
  font-family: PressStart2PRegular;
  font-weight: bold;
  letter-spacing: -2px;
  -webkit-filter: blur(1px);
}
.titlefont {
  top: 15%;
  left: 2%;
  width: 96%;
  text-align: center;
  font-size: 80px;
  letter-spacing: -6px;
}
.title2font{
  font-size:25px;
  top:30%;
}
.startfont {
  top: 45%;
  font-size: 50px;
  width: 220px;
  left: -110px;
  text-align: center;
  margin-left: 50%;
  letter-spacing: -3px;
  border: 3px solid lightblue;
  padding: 15px;
  border-radius: 15px;
}
.startfont:hover {
  color: white;
  border-color: white;
  transform: scale(0.99,0.99);
}
.devfont {
  top: 80%;
  width: 80%;
  left: 10%;
  text-align: center;
  font-size: 25px;
  letter-spacing: -3px;
}
.devlink {
  display: inline-block;
}
.devlink:hover {
  color: white;
  border-color: white;
  transform: scale(0.99,0.99);
}
.score {
  font-size: 45px;
  left: 50px;
  top: 20px;
  text-align: left;
  z-index: -5;
}
.star {
  width: 2px;
  height: 2px;
  background-color: white;
  border-radius: 50%;
  left: 200px;
  top: 200px;
  opacity: 0.8;
  z-index: -10;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.asteroid {
  width: 100px;
  height: 100px;
  left: 300px;
  top: 300px;
  float: left;
  fill: rgb(20,20,40); // #191970
  stroke: rgb(160,160,160);
  stroke-width: 4px;
  opacity: 1;
  animation: spin 32s infinite linear;
  z-index: -9;
}
.bullet {
  width: 6px;
  height: 6px;
  background: white;
  border-radius: 50%;
  left: 100px;
  top: 150px;
  opacity: 0.95;
  z-index: -7;
}


/*  CRT effect  */
@keyframes hard-flicker {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i / $steps)} {
      opacity: random();
    }
  }
}

@keyframes soft-flicker {
  steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i / $steps)} {
      opacity: 0.175 * (4 + random());
    }
  }
}

